* {
  font-family: 'Hind', sans-serif;
}

.h1, h1 {
  font-size: 30px;
}

.container {
  padding-top: 18px;
}

.login-container {
  background-color: #FFD2A2;
  height: -webkit-fill-available;
}

/* Navigation Bar */
.top-bar-container .top-bar-top img {
  width: 80px;
}

.top-bar-container .top-bar-top .btn {
  float: right;
  margin-top: 9px;
  margin-right: -5px;
  font-size: 14px;
}

.top-bar-container .top-bar-top {
  height: 68px;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #FFD2A2;
}

.top-bar-container .top-bar-nav ul {
  background-color: #FFBB72;
  font-size: 20px;
}

.top-bar-container .top-bar-nav li :hover {
  border-bottom: 4px solid #EE7C00;
  color: white;
}

.top-bar-container .top-bar-nav .nav-justified > li {
  display: table-cell;
  width: 1%;
}

.top-bar-container .top-bar-nav .nav-justified > li > a {
  color: white;
  margin-bottom: 0;
  border-radius: 0;
}

.top-bar-container .top-bar-nav li [class*="active"]{
  border-bottom: 4px solid #EE7C00;
  background-color: #FFBB72;
  color: white;
}

/* Login */

.login-container img {
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.login-container button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.btn-secondary {
  color: #ffffff;
  background-color: #FFBB72;
  border-color: #FFBB72;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: #EE7C00;
  border-color: #EE7C00;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: #CC6A00;
  border-color: #CC6A00;
}

.login-container #usernameForm {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.login-container #passForm {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.login-container label.form-control-label {
  margin-left: 90px;
}

/* My Coupons */

.btn-outline-primary {
  color: #EE7C00;
  border-color: #EE7C00;
  background-color: transparent;
  background-image: none;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
}

.input-group-addon {
  color: white;
  background-color: #EE7C00;
  border: 1px solid #EE7C00;
}

/*.form-control {
    border-left-style: unset;
}*/

/* Add Coupon */

.add-coupon-container #discoverableBox {
  margin-left: 10px;
  height: 20px;
}

.modalButtons button{
  font-size: small;
}

.discover-container .zipForm {
  margin-top: 10px;
}

.add-coupon-container .addCouponButton {
  margin-right: 5px;
}
