.top-bar-container .top-bar-top img {
  width: 130px;
}

.top-bar-container .top-bar-top h1 {
  float: right;
  font-size: 30px;
}

.top-bar-container .top-bar-top {
  height: 100px;
  padding: 10px;
  background-color: rgb(250,250,250);
}

.top-bar-container .top-bar-nav ul {
  background-color: rgb(240,240,240);
}

.top-bar-container .top-bar-nav .nav-justified > li {
    display: table-cell;
    width: 1%;
}
.top-bar-container .top-bar-nav .nav-justified > li > a {
    margin-bottom: 0;
    border-radius: 0;
}

.top-bar-container .top-bar-nav li a[class*="active"]{
    border-bottom: 6px solid rgb(140,140,140);
    background-color: white;
    color: black;
}

.login-container img {
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.login-container button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.login-container #newUserButton {
  font-size: 12px;
}

.add-coupon-container #discoverableBox {
  margin-left: 10px;
  height: 20px;
}
