* {
  font-family: 'Hind', sans-serif;
}

.top-bar-container .top-bar-top img {
  width: 100px;
}

.top-bar-container .top-bar-top .btn {
  float: right;
  font-size: 20px;
}

.top-bar-container .top-bar-top {

  height: 75px;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #FFBB72;
}

.top-bar-container .top-bar-nav ul {
  background-color: #FFBB72;
  font-size: 20px;
}

.top-bar-container .top-bar-nav .nav-justified > li {
  display: table-cell;
  width: 1%;
}
.top-bar-container .top-bar-nav .nav-justified > li > a {
  color: white;
  margin-bottom: 0;
  border-radius: 0;
}

.top-bar-container .top-bar-nav li a[class*="active"]{
  border-bottom: 6px solid #EE7C00;
  background-color: #FFBB72;
  color: white;
}

.login-container img {
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.login-container button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background-color: #FFA94D;
  border-color: #FFA94D;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: #EE7C00;
  border-color: #EE7C00;
}

.login-container #usernameForm {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.login-container #passForm {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.login-container label.form-control-label {
  margin-left: 90px;
}

.add-coupon-container #discoverableBox {
  margin-left: 10px;
  height: 20px;
}

.modalButtons button{
  font-size: small;
}
