@media (max-width: 480px) {
  .login-container label.form-control-label {
    margin-left: 70px;
  }

  .top-bar-container .top-bar-top img {
    width: 70px;
  }

  .top-bar-container .btn-secondary img {
    width: 20px;
    padding-left: 4px;
    padding-bottom: 3px;
  }

  .top-bar-container .top-bar-nav ul {
    font-size: 17px;
  }
}

@media (max-width: 594px) {
  .top-bar-container .top-bar-nav .nav-justified > li > a {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Discover */


  /*
  .form-control .form-group {
    width: 113%;
  }*/
}
